ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    li {
        padding: 10px;
        cursor: pointer;
        border-radius: 40px;
        margin: 10px;

        &.selected {
            background-color: rgb(43, 43, 43);
            color: white;

                }
  
        &:hover {
            background-color: rgb(128, 127, 128);
        }
    }

    display: flex;
    height: 75px;
    justify-content: space-evenly;
 }
 vg-player {
     margin-top: 15px;
    justify-content: center;
    width: 750px;
 }

 .cotainer {
    display: flex;
    justify-content: center;
 }
 .bookmarkButton {
    width: 100px;
    height: 100px;
    white-space: normal;
    margin-top: 15px;
 }
 .bookmarkButtonTwo {
    width: 100px;
    height: 100px;
    white-space: normal;
    margin-top: 15px;

    margin-left: 30px;
 }
 .control {
    width: 250;
 }
 .dashboard {
    width: 450px;
 }
 .cardContainer {
     display:flex;
     justify-content: center;
     margin-top: 10px;
 }


 .button6{
     display:inline-block;
     padding:0.7em 1.4em;
     margin:0 0.3em 0.3em 0;
     border-radius:0.15em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     text-transform:uppercase;
     font-weight:400;
     color:#FFFFFF;
     background-color:#3369ff;
     box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
     text-align:center;
     position:relative;
    }
    .button6:active{
     top:0.1em;
    }
    

    .myButton {
        box-shadow: 0px 10px 14px -7px #276873;
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        background-color:#599bb3;
        border-radius:8px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#408c99;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
            